In [508]:
import numpy as np
import pandas as pd

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(data)
d = {'a':10,'b':20,'c':30}

s = pd.Series(data = my_data,index = labels)

In [509]:
s['a']

s = pd.Series(data = d)
print(s)

a    10
b    20
c    30
dtype: int64

In [510]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [511]:

from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [512]:
df[['w','z']]
df['new'] = df['w']+df['x']
df.drop('x',axis = 1,inplace = True)
df
df.loc['a']

w      2.706850
y      0.907969
z      0.503826
new    3.334983
Name: a, dtype: float64

In [513]:
df > 0

       w      y      z    new
a   True   True   True   True
b   True  False   True   True
c  False   True  False  False
d   True  False   True  False
e   True   True   True   True

In [514]:
df[df['w'] > 0]

          w         y         z       new
a  2.706850  0.907969  0.503826  3.334983
b  0.651118 -0.848077  0.605965  0.331800
d  0.188695 -0.933237  0.955057 -0.570177
e  0.190794  2.605967  0.683509  2.169552

In [515]:
df['states'] = ['a','b','c','d','e']
df
df.reset_index()

  index         w         y         z       new states
0     a  2.706850  0.907969  0.503826  3.334983      a
1     b  0.651118 -0.848077  0.605965  0.331800      b
2     c -2.018168  0.528813 -0.589001 -1.278046      c
3     d  0.188695 -0.933237  0.955057 -0.570177      d
4     e  0.190794  2.605967  0.683509  2.169552      e

In [516]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
l = list(zip(outside,inside))
hier = pd.MultiIndex.from_tuples(l)
df = pd.DataFrame(randn(6,2),l,['a','b'])
hier

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [517]:
df

                a         b
(G1, 1)  0.302665  1.693723
(G1, 2) -1.706086 -1.159119
(G1, 3) -0.134841  0.390528
(G2, 1)  0.166905  0.184502
(G2, 2)  0.807706  0.072960
(G2, 3)  0.638787  0.329646

In [518]:
d = {'A':[1,2,np.nan],'B':[4,np.nan,6],'C':[7,8,9]}
df = pd.DataFrame(d)
print(df)
df.dropna(thresh = 1)
df.fillna(value = df.mean())

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  6.0  9

     A    B  C
0  1.0  4.0  7
1  2.0  5.0  8
2  1.5  6.0  9

In [519]:
d = {'A':[1,1,3],'B':[1,5,6],'C':[7,8,9]}
df = pd.DataFrame(d)
print(df)
df.groupby('A').min()
df.groupby('A').describe()

   A  B  C
0  1  1  7
1  1  5  8
2  3  6  9

      B                                             C                      \
  count mean       std  min  25%  50%  75%  max count mean       std  min
A
1   2.0  3.0  2.828427  1.0  2.0  3.0  4.0  5.0   2.0  7.5  0.707107  7.0
3   1.0  6.0       NaN  6.0  6.0  6.0  6.0  6.0   1.0  9.0       NaN  9.0


    25%  50%   75%  max
A
1  7.25  7.5  7.75  8.0
3  9.00  9.0  9.00  9.0